<div class="seller-auth">
    <div class="sign-up">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input type="text" class="form-input" name="name" ngModel placeholder="Enter Name">
            <input type="email" class="form-input" name="email" ngModel placeholder="Enter Email">
            <input type="password" class="form-input" name="password" ngModel placeholder="Enter Password">
            <button class="form-button" >SignUp</button>
        </form>
    </div>
</div>